<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.sirs.droidcipher">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceivers.DismissNotificationReceiver" />
        <receiver android:name=".broadcastreceivers.AcceptConnectionReceiver" />
        <receiver android:name=".broadcastreceivers.BluetoothStateChangedReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".NewConnectionActivity" />

        <service
            android:name=".Services.MainProtocolService"
            android:exported="false" />

        <activity android:name=".QRCodeReaderActivity">

        </activity>
    </application>

</manifest>